body {
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto !important;
    width: 794px;
    max-height: 1122px
}

div {
    padding: 1px 2px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

table {
    border: 0;
    border-collapse: collapse;
    padding: 0;
}

img {
    border: 0;
}

.cp {
    font-size: 11px;
    line-height: 12px;
    color: black;
}

.ct {
    font-size: 9px;
    line-height: 10px;
    color: black;
}

.logo {
    margin: 2px;
    max-width: 150px;
}

.h11 {
    min-height: 11px;
}

.h12 {
    min-height: 12px;
}

.h13 {
    min-height: 13px;
}

.tRight {
    text-align: right;
}

.tCenter {
    text-align: center;
}

.vTop {
    vertical-align: top;
}

.vMiddle {
    vertical-align: middle;
}

.vBottom {
    vertical-align: bottom;
}

.bLeft {
    border-left: solid 1px black;
}

.bRight {
    border-right: solid 1px black;
}

.bBottom {
    border-bottom: solid 1px black;
}

.bTop {
    border-top: solid 1px black;
}

.codeBar {
    height: 50px;
    vertical-align: bottom;
    margin-top: 5px;
}

.codeBank {
    font-size: 22px;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.bold {
    font-weight: bold;
}

.cut {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: dashed 1px black;
}

.header {
    border-bottom: 2px black solid;
}

.w33 {
    width: 33px;
}

.w66 {
    width: 66px;
}

.w99 {
    width: 99px;
}

.w132 {
    width: 132px;
}

.w165 {
    width: 165px;
}

.w198 {
    width: 198px;
}

.w231 {
    width: 231px;
}

.w264 {
    width: 264px;
}

.w297 {
    width: 297px;
}

.w330 {
    width: 330px;
}

.w363 {
    width: 363px;
}

.w396 {
    width: 396px;
}

.w429 {
    width: 429px;
}

.w462 {
    width: 462px;
}

.w495 {
    width: 495px;
}

.w528 {
    width: 528px;
}

.w561 {
    width: 561px;
}

.w594 {
    width: 594px;
}

.w627 {
    width: 627px;
}

.w660 {
    width: 660px;
}

.w693 {
    width: 693px;
}

.w726 {
    width: 726px;
}

.w759 {
    width: 759px;
}

.w792 {
    width: 792px;
}